  .dl-table {
    a {
      @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
        text-underline-offset: .8rem;
      }
      @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
        padding-bottom: .45rem;
      }
    }

    .btn, .gumroad-button  {
      margin: 1rem 0;
    }
  }


  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 2rem 0;
    align-items: stretch;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
.project-card {
  display: grid;
  grid-template-rows: auto 220px auto;
  height: 100%;
  min-height: 0;
  overflow: hidden;
  cursor: pointer;
}

.project-card h2 {
  -webkit-line-clamp: 1;
  overflow: hidden;
  min-height: 0;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 0;
}


.project-card .project-meta {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-height: 0;
}
