.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

/* Crop sidebar logo image to a square without affecting favicon */
#_sidebar img[src*="/assets/img/headshot.jpg"] {
  width: 128px;
  height: 128px;
  object-fit: cover;
}
